body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  width: 300px;
  height: 300px;

  background-color: #8357e5;
  box-shadow: 2px 2px -2px 6px rgba(0, 0, 0, 0.8);

  margin-top: 200px;
}
